<h1>Hello from users#new!</h1>

<form action="/users/new" method="put">
  <label for="username"><b>Username: </b></label>
  <input type="text" placeholder="Enter Username" name="username" id="username" required>
  <br>
  <label for="email"><b>Email: </b></label>
  <input type="email" placeholder="Enter Email" name="email" id="email" required>
  <br>
  <label for="password" ><b>Password: </b></label>
  <input type="password" placeholder="Enter Password" name="password" id="password" required>
  <br>
  <input type="Submit" value="Submit" >

</form>