<h1>Hello from users#new!</h1>

<form action="/users" method="post" accept-charset="UTF-8">
  <label for="username"><b>Username: </b></label>
  <input type="text" placeholder="Enter Username" name="user[username]" id="username" required>
  <br>
  <label for="email"><b>Email: </b></label>
  <input type="user[email]" placeholder="Enter Email" name="email" id="email" required>
  <br>
  <label for="password" ><b>Password: </b></label>
  <input type="password" placeholder="Enter Password" name="user[password]" id="password" required>
  <br>
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="Submit" value="Submit" >

</form>